apps:
  - app_name: lfimg
    repo: https://gitlab.com/cirala/lfimg
    targets:
      - "mkdir -p $HOME/.config/lf"
      - "chmod +x preview; cp preview $HOME/.config/lf"
      - "chmod +x cleaner; cp cleaner $HOME/.config/lf"
      - "chmod +x lfrun; cp lfrun $HOME/.local/bin"
    dependencies:
      - ueberzug
