---
- name: Defina Workspace
  set_fact:
    workspace: "{{ lookup('env', 'HOME') }}/tmp"

- name: Certifica que o diretorio temporario existe
  file:
    path: "{{ workspace }}"
    state: directory

- name: Inclui variaveis para distribuicao especifica
  include_vars: "{{ ansible_distribution }}.yml"

- name: Git Clone App
  git:
    repo: "{{ item.repo }}"
    dest: "{{ workspace }}/{{ item.app_name }}"
  with_items: 
    - "{{ apps }}"

- name: Inclui tarefa de instalacao de pacotes para distribuicao especifica
  include_tasks: "task_{{ ansible_distribution }}.yml"
