    - name: inclui lista de pacotes de acordo com o SO obtido pelo ansible
      include_vars: "vars/packages{{ ansible_distribution }}.yml"
      tags: admin

    - name: Clona yay repositorio
      git:
        repo: "https://aur.archlinux.org/yay-git.git"
        dest: $HOME/tmp/yay-git
      tags: arch

    - name: Instala yay
      command: "{{ item }}" 
      args:
        chdir: "{{ lookup('env', 'HOME') }}/tmp/yay-git"
      with_items:
        - "makepkg -si --noconfirm"
        - "git reset --hard HEAD"
      changed_when: false
      tags: arch

    - name: Instala pacotes necessarios
      community.general.pacman:
        name:
          "{{ packages }}"
        state: present
      become: true
      tags: admin, arch

    # - name: Instala pacotes aur
    #   command: "yay --noconfirm -S {{ item }}"
    #   with_items:
    #     "{{ aur_packages }}"
    #   changed_when: false
    #   tags: admin, arch

    # https://aur.archlinux.org/packages/dropbox/
    - name: Instala chave gpg para dropbox
      shell: wget -q https://linux.dropbox.com/fedora/rpm-public-key.asc -O /tmp/rpm-public-key.asc && gpg --import /tmp/rpm-public-key.asc
      changed_when: false
      tags: admin, arch

    - name: Instala pacotes aur
      aur:
        name:
          "{{ aur_packages }}"
      tags: admin, arch

    - name: Habilita snapd
      ansible.builtin.systemd:
        name: snapd
        enabled: yes
        masked: no
      become: true
      tags: admin, arch

    - name: Instala Pacotes Snap
      snap:
        name: 
          "{{ snap_packages }}"
        state: present
      become: true
      tags: admin, arch

    - name: Adiciona modulo it87 # ler sensores fan da placa mae B450
      copy:
        dest: "/etc/modules-load.d/it87.conf"
        content: |
          # modulo para ler sensores fan placa mae B450
          it87
      become: true
      tags: admin, arch

    - name: Habilita sshd
      ansible.builtin.systemd:
        name: sshd
        enabled: yes
        state: started
        masked: no
      become: true
      tags: admin, arch

    - name: Habilita cronie
      ansible.builtin.systemd:
        name: cronie
        enabled: yes
        state: started
        masked: no
      become: true
      tags: admin, arch
