    - name: Instala pacotes Homebrew Cask  
      homebrew_cask:
        name:
          "{{ cask_packages }}"
        state: present
      tags: admin, packages

    - name: Instala pacotes Homebrew
      homebrew:
        name:
          "{{ packages }}"
        state: present
      tags: admin, packages

    - name: Habilita tap
      homebrew_tap:
        name: homebrew/cask-fonts
      tags: admin, packages, fonts

    - name:  Verifica diretorio de config iTerm2
      stat:
        path: "$HOME/Library/Application Support/iTerm2/DynamicProfiles/"
      register: iterm_dynamic_profile_dir
      tags: darwin, iterm

    - name: Cria link para arquivo de profile iTerm2
      file:
        src: $HOME/.dotfiles/dotfiles/mudaAltOption.json
        dest: "{{ iterm_dynamic_profile_dir.stat.path }}/mudaAltOption.json"
        state: link
      when: iterm_dynamic_profile_dir.stat.isdir is defined
      tags: darwin, iterm

    - name: ranger configuracao preview iterm2
      file:
        src: $HOME/.dotfiles/dotfiles/.config/ranger/rc.conf.{{ ansible_system }}
        dest: $HOME/.config/ranger/rc.conf 
        state: link
        force: true
      tags: darwin, ranger  

    - name: Copia Fonte Jetbrains
      copy:
        src: "{{ lookup('env', 'HOME') }}/.dotfiles/dotfiles/Library/Fonts"
        dest: "{{ lookup('env', 'HOME') }}/Library/Fonts"
      tags: darwin, fonts
