    - name: Configurar dnsmasq extension NetworkManager
      lineinfile:
        path: "/etc/NetworkManager/NetworkManager.conf"
        insertafter: '^\[main\]'
        state: present
        line: 'dns=dnsmasq'
        firstmatch: true
      when:  domains is defined
      notify: Restarta NetworkManager
      tags: dnsmasq

    - name: Configurar entradas dnsmasq
      template:
        src: "templates/dominio.conf.j2"
        dest: "/etc/NetworkManager/dnsmasq.d/00-{{ domains }}.conf"
      notify: Restarta NetworkManager
      tags: dnsmasq

