    - name: Cria diretorios necessarios
      file:
        path: $HOME/{{ item }}
        state: directory
      with_items:
        - "{{ dotfiles_dirs }}"
      tags: dotfiles

    - name: Clona repositorio fzf
      git:
        repo: https://github.com/junegunn/fzf
        dest: $HOME/.fzf
      tags: dotfiles, fzf

    - name: Instala oh-my-zsh
      git: 
        repo: https://github.com/robbyrussell/oh-my-zsh
        dest: $HOME/.oh-my-zsh
      tags: dotfiles, zsh

    - name: Instala zsh-autosuggestions
      git: 
        repo: https://github.com/zsh-users/zsh-autosuggestions
        dest: $HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions
      tags: dotfiles, zsh, autosuggestions

    - name: Instala zsh-syntax-highlighting
      git: 
        repo: https://github.com/zsh-users/zsh-syntax-highlighting
        dest: $HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
      tags: dotfiles, zsh, zsh-syntax-highlighting

    - name: Instala Tmux themes
      git: 
        repo: https://github.com/jimeh/tmux-themepack.git
        dest: $HOME/.tmux-themepack
      tags: dotfiles, tmux

    - name: Instala Base16-shell
      git: 
        repo: https://github.com/chriskempson/base16-shell.git
        dest: $HOME/.config/base16-shell
      tags: dotfiles, base16

    - name: Cria Links dos dotfiles
      file:
        src: $HOME/.dotfiles/dotfiles/{{ item }}
        dest: $HOME/{{ item }}
        state: link
        force: true
      with_items:
         - "{{ dotfiles }}"
      tags: dotfiles, links

    - name: Cria Link neovim to vim directory
      file:
        src: $HOME/.vim
        dest: $HOME/.config/nvim
        state: link
        force: true
      tags: dotfiles, links, neovim

    - name: Cria Link neovim init.vim to vimrc
      file:
        src: $HOME/.vim/vimrc
        dest: $HOME/.vim/init.vim
        state: link
        force: true
      tags: dotfiles, links, neovim
