    - name: Habilita repositorio google-chrome
      yum_repository:
        name: google-chrome
        description: google-chrome repo
        baseurl: http://dl.google.com/linux/chrome/rpm/stable/x86_64 
        enabled: yes
      become: true
      tags: admin

    - name: Instala repositorios fusions
      dnf:
        name:
          - http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_version }}.noarch.rpm
          - http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_version }}.noarch.rpm
        state: present
        disable_gpg_check: yes
      become: true
      tags: admin

    - name: Instala Repositorio alacritty 
      yum_repository:
        name: "copr:copr.fedorainfracloud.org:pschyska:alacritty"
        description: "Allacrity Copr Repo"
        file: "_copr:copr.fedorainfracloud.org:pschyska:alacritty"
        baseurl: "https://download.copr.fedorainfracloud.org/results/pschyska/alacritty/fedora-$releasever-$basearch/"
        gpgkey: "https://download.copr.fedorainfracloud.org/results/pschyska/alacritty/pubkey.gpg"
        gpgcheck: yes
        enabled: yes
        skip_if_unavailable: yes
      become: true
      tags: admin

    - name: Instala Repositorio Terraform
      get_url:
        url: "https://rpm.releases.hashicorp.com/fedora/hashicorp.repo"
        dest: /etc/yum.repos.d/hashicorp.repo
      become: true
      tags: admin

    - name: inclui lista de pacotes de acordo com o SO obtido pelo ansible
      include_vars: "vars/packages{{ ansible_system }}.yml"
      tags: admin

    - name: Instala pacotes necessarios
      dnf:
        name:
          "{{ packages }}"
        state: present
        disable_gpg_check: yes
      become: true
      tags: admin

    - name: Habilita ssh server
      service:
        name: sshd
        enabled: yes
        state: started
      become: true
      tags: admin

    - name: Aumenta o valor de fs.inotify.max_user_watches para Dropbox
      lineinfile:
        dest: /etc/sysctl.conf
        line: fs.inotify.max_user_watches=100000
        state: present
      register: fs_inotify_max_user_watches
      become: true

    - name: Rele arquivo de parametro do kernel modificado
      command: sysctl -p
      become: true
      when:
        fs_inotify_max_user_watches['changed'] is true

    # configura teclado americano com cedilha
    # localectl set-x11-keymap us intl
    - name: Muda keymap para us acento
      command: localectl set-keymap us-acentos
      changed_when: false
      tags: keyboard

    # testar se isso eh necessario mesmo
    - name: Instala pacotes necessarios mudar cedilha
      dnf:
        name:
          - imsettings
          - gtk3-immodule-xim
          - gtk3-immodules
          - gtk2-immodules
          - im-chooser
        state: present
        disable_gpg_check: yes
      become: true
      tags: keyboard

    - name: Muda cedilha minusculo arquivo Compose
      replace:
        path: /usr/share/X11/locale/en_US.UTF-8/Compose
        regexp: 'ć' 
        replace: 'ç'
      become: true
      tags: keyboard

    - name: Muda cedilha maiusculo arquivo Compose
      replace:
        path: /usr/share/X11/locale/en_US.UTF-8/Compose
        regexp: 'Ć' 
        replace: 'Ç'
      become: true
      tags: keyboard

    # testar se isso eh necessario mesmo
    - name: Forca ler cedilha
      command: imsettings-switch im-cedilla
      become: true
      changed_when: false
      tags: keyboard

    - name: Copia arquivos Interception
      copy:
        dest: "{{ item }}"
        src: "{{ lookup('env', 'HOME') }}/.dotfiles/dotfiles/{{ item }}"
      with_items:
        - /etc/interception/dual-function-keys.yaml
        - /etc/interception/udevmon.yaml
        - /etc/systemd/system/udevmon.service
      become: true
      tags: keyboard

    - name: Habilita udevmon service
      service:
        name: udevmon
        enabled: yes
        state: started
      become: true
      tags: keyboard
