    # configura teclado americano com cedilha
    # localectl set-x11-keymap us intl
    - name: Muda keymap para us acento
      command: localectl set-x11-keymap us pc105 intl shift:both_capslock,terminate:ctrl_alt_bksp
      changed_when: false
      tags: keyboard

    # testar se isso eh necessario mesmo
    # no archlinux nao foi por isso estou comentando
    # - name: Instala pacotes necessarios mudar cedilha
    #   dnf:
    #     name:
    #       - imsettings
    #       - gtk3-immodule-xim
    #       - gtk3-immodules
    #       - gtk2-immodules
    #       - im-chooser
    #     state: present
    #     disable_gpg_check: yes
    #   become: true
    #   tags: keyboard

    - name: Muda cedilha minusculo arquivo Compose
      replace:
        path: /usr/share/X11/locale/en_US.UTF-8/Compose
        regexp: 'ć' 
        replace: 'ç'
      become: true
      tags: keyboard

    - name: Muda cedilha maiusculo arquivo Compose
      replace:
        path: /usr/share/X11/locale/en_US.UTF-8/Compose
        regexp: 'Ć' 
        replace: 'Ç'
      become: true
      tags: keyboard

    # necessario adicionar essas variaveis porque no archlinux o cedilha
    # nao era digitado corretamente em aplicativos graficos no entanto
    # no terminal sim
    - name: Adiciona variaveis de ambiente para cedilha
      lineinfile:
        path: /etc/environment
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - { regexp: '^GTK_IM_MODULE', line: 'GTK_IM_MODULE=cedilla' }
        - { regexp: '^QT_IM_MODULE', line: 'QT_IM_MODULE=cedilla' }
      become: true
      tags: keyboard

    # testar se isso eh necessario mesmo
    # no archlinux nao foi por isso estou comentando
    # - name: Forca ler cedilha
    #   command: imsettings-switch im-cedilla
    #   become: true
    #   changed_when: false
    #   tags: keyboard

    - name: Cria diretorio
      file:
        path: /etc/interception
        state: directory
      become: true
      tags: keyboard

    - name: Copia arquivos Interception
      copy:
        dest: "{{ item }}"
        src: "{{ lookup('env', 'HOME') }}/.dotfiles/dotfiles/{{ item }}"
      with_items:
        - /etc/interception/dual-function-keys.yaml
        - /etc/interception/udevmon.yaml
        - /etc/systemd/system/udevmon.service
      become: true
      tags: keyboard

    - name: Habilita udevmon service
      service:
        name: udevmon
        enabled: yes
        state: started
      become: true
      tags: keyboard
