    - name: clone repositorio gerenciador de plugins vundle
      git:
        repo: https://github.com/VundleVim/Vundle.vim.git
        dest: ~/.vim/bundle/Vundle.vim
        update: yes
      tags: vim

    - name: Instala plugins vim
      shell:
        cmd: vim +PluginInstall +'normal l' +'w! /tmp/vundle.tmp' +qall ; cat /tmp/vundle.tmp
      register: instala_plugin_output
      changed_when: instala_plugin_output.stdout.find('Cloning into') != -1
      tags: vim

    - name: Finaliza instalacao YouCompleteMe plugin vim
      command:
        cmd: ~/.vim/bundle/YouCompleteMe/install.py
      changed_when: false
      tags: vim
