    # Usa nmcli para configurar a bridge a partir da conexao padrao inicial do fedora
    - name: Configura Bridge
      command: "{{ item }}"
      with_items:
        - "nmcli connection add type bridge autoconnect yes con-name {{ conn_name }} ifname {{ bridge_name }}" 
        - "nmcli connection modify {{ conn_name }} ipv4.addresses {{ ip_address }} ipv4.method manual" 
        - "nmcli connection modify {{ conn_name }} ipv4.gateway {{ gateway }}" 
        - "nmcli connection modify {{ conn_name }} ipv4.dns {{ dns1 }}" 
        - "nmcli connection modify {{ conn_name }} +ipv4.dns {{ dns2 }}" 
        - "nmcli connection del 'Wired connection 1'" 
        - "nmcli connection add type bridge-slave autoconnect yes con-name {{ ansible_default_ipv4['interface'] }} ifname {{ ansible_default_ipv4['interface'] }} master {{ bridge_name }}" 
      when:  ansible_default_ipv4['alias'] !=  bridge_name 
      tags: kvm

    - name: Instala pacotes necessarios pra virtualizacao
      dnf:
        name:
          "{{ kvm_packages }}"
        state: present
      notify: Habilita libvirt
      tags: kvm

    - name: Adiciona usuario ao grupo libvirt
      user:
        name: "{{ lookup('env','LOGNAME') }}"
        groups: libvirt
        append: yes
      tags: kvm
