    - name: Testa se arquivo de variaveis hostvars.yml existe
      stat:
        path: "vars/hostvars.yml"
      register: hostvars_file_vars
      tags: kvm

    - name: Inclui arquivo de variaveis hostvars caso exista
      include_vars:
        file: "vars/hostvars.yml"
      when: hostvars_file_vars.stat.exists
      tags: kvm

    - name: Verifica se vm ou host fisico
      shell:
        cmd: dmesg | grep 'Hypervisor detected:'
      register: is_vm
      ignore_errors: yes
      changed_when: false
      failed_when: false
      tags: kvm

    # Usa nmcli para configurar a bridge a partir da conexao padrao inicial do fedora
    - name: Configura Bridge
      command: "{{ item }}"
      with_items:
        - "nmcli connection add type bridge autoconnect yes con-name {{ conn_name }} ifname {{ bridge_name }}" 
        - "nmcli connection modify {{ conn_name }} ipv4.addresses {{ ip_address }} ipv4.method manual" 
        - "nmcli connection modify {{ conn_name }} ipv4.gateway {{ gateway }}" 
        - "nmcli connection modify {{ conn_name }} ipv4.dns {{ dns1 }}" 
        - "nmcli connection modify {{ conn_name }} +ipv4.dns {{ dns2 }}" 
        - "nmcli connection del 'Wired connection 1'" 
        - "nmcli connection add type bridge-slave autoconnect yes con-name {{ ansible_default_ipv4['interface'] }} ifname {{ ansible_default_ipv4['interface'] }} master {{ bridge_name }}" 
      when: >
        ( hostvars_file_vars.stat.exists ) and 
        ( ansible_default_ipv4['alias'] !=  bridge_name ) and 
        ( "'Hypervisor detected' not in is_vm.stdout" ) 
      tags: kvm

    - name: Instala pacotes necessarios pra virtualizacao
      dnf:
        name:
          "{{ kvm_packages }}"
        state: present
      notify: Habilita libvirt
      when: "'Hypervisor detected' not in is_vm.stdout"
      tags: kvm

    - name: Adiciona usuario ao grupo libvirt
      user:
        name: "{{ lookup('env','LOGNAME') }}"
        groups: libvirt
        append: yes
      when: "'Hypervisor detected' not in is_vm.stdout"
      tags: kvm
