---

- name: Inclui variaveis para distribuicao especifica
  include_vars: "{{ ansible_distribution }}.yml"

- name: Inclui tarefa de instalacao de pacotes para distribuicao especifica
  include_tasks: "task_{{ ansible_distribution }}.yml"

- name: Adiciona usuario ao grupo docker
  user:
    name: "{{ lookup('env','LOGNAME') }}"
    groups: docker
    append: yes
  when: docker_packages is defined
  become: true
