---
- name: Instala pacotes necessarios
  community.general.pacman:
    name:
      "{{ docker_packages }}"
    state: present
  when: docker_packages is defined
  become: true
  notify: Habilita docker

- name: Habilita container service
  service:
    name: docker
    enabled: yes
    state: started
  become: true
